body{
	background-color: #0F2DA3;
}
.games{
	background-color: #061242;
	padding: 30px;
	margin: 30px;
	font-family: "Calibri", sans-serif;
}
.gamestable{
	color: #2C3539;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
.gamestable td{
	padding: 1px;
}
.gamestable tr:nth-child(odd){
	background-color: #AFDCEC;
}
.gamestable tr:nth-child(even){
	background-color: #FFFFC2;
}
.gamestable tr:hover{
	background-color: #061242;
	color: #FFC40C;
}
