body{
	background-color: #0F2DA3;
}
.beautiful{
	padding: 0px 30px 0px 30px;
	margin: 0px 30px;
	text-align: center;
}
.pictures{
	padding: 0px 30px;
	margin: 0px 30px;
	text-align: center;
}
p{
	color: #FFC40C;
	font-family: "Purisa", Serif;
	font-size: 25px;
}
p:hover{
	color: #FFC40C;
	background-color: #061242;
}
.pics{
	margin: 10px;
}
